.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--400-color);
  position: relative;
  transition: width 0.3s;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}