.Effect {
  padding: 1.5rem;
  border: 1px solid var(--400-color);

  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .effect-item {
      @include EffectNameItemStyles;
    }

    .effect-skill {
      @include EffectNameSkillStyles;
    }

    &.unknown {
      color: #333;
    }
  }

  .stat-mods {
    @include StatModsContainerStyles;
  }

  .duration {
    font-size: 0.875rem;

    .time-value {
      color: var(--number-color);
    }

    .time-scope {
      color: var(--string-color);
    }
  }

  // .remove-button {
  //   @include MethodButtonStyles;
  // }
}
