.Guise{
  border: 1px solid var(--400-color);
  width: 18rem;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--500-color);
  transform: scale(1);
  transition-delay: 0.5s;
}

.header{
  text-align: center;
  color: var(--type-color);
  font-size: var(--font-size-l);
}

.subtitle{
  color: var(--comment-color);
  display: flex;
  justify-content: space-between;
}

.stat{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.name {
  display: flex;
  padding: 0.25rem;
  margin: 0.25rem;
  color: var(--key-color);
}

.value {
  display: flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--number-color);
}

.level{
  display: flex;
  justify-content: space-between;
  color: var(--comment-color);
}

.btn{
  display: flex;
  justify-content: center;
}