:root {
  --200-color: #cccccc;
  --300-color: #969696;
  --400-color: #3c3c3c;
  --500-color: #252526;
  --600-color: #1c1b1b;
  // ui
  --key-color: #9cdcfe;
  --enum-color: #4fc1ff;
  --keyword-color: #569cd6;
  --number-color: #b5cea8;
  --string-color: #ce9178;
  --method-color: #dcdcaa;
  --type-color: #4ec9b0;
  --control-color: #c586c0;
  --comment-color: #6a9955;
  --highlight-color: #202a34;
}