.app.void {
  --bg-color: #525253;
  --inverted-bg-color: #222222;
  --primary-color: #252526;
  --secondary-color: #37383c;
  --inverted-primary-color: #ccd0cc;
  --inverted-void-color: #a1a2a1;
}


